################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Delivery/.vs/Delivery/FileContentIndex/185ac794-17a0-41cc-88c0-b7f94535371c.vsidx
/Delivery/.vs/Delivery/FileContentIndex/35584972-2582-4fb6-aa8f-c5edb6d28d27.vsidx
/Delivery/.vs/Delivery/FileContentIndex/6f4b388e-192d-44c9-91d0-5ff2c9347f80.vsidx
/Delivery/.vs/Delivery/FileContentIndex/a9f04814-9664-40bc-bc93-5bcaffabd4f4.vsidx
/Delivery/.vs/Delivery/FileContentIndex/ffa8e132-91fa-41ce-8a20-eecd95b28e73.vsidx
